<!doctype html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="keywords" content="dr-ait,dr ait,dr-ait results, results dr-ait,DR-AIT results sgpa cgpa">
<meta name="description" content="Calculate your sgpa and cgpa">

<script src="ajax/angular.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="css/body.css">
<script src="js/cgpa5.js" type="text/javascript"></script>
<link href="css/animate.min.css" rel="stylesheet">
<title>DR-AIT CGPA Calculator</title>

</head>

<body style="width:100%;">

<div class="content overlay-content text-center">
<br><div class="row">
	<div class="col-lg-12 wow fadeIn" >
    <img class="row-3 img-fluid wow fadeIn" data-wow-duration="3s" data-wow-delay=".3s"style="max-width:100%; height:auto;" src="images/logo-wide.png"/>
    <hr class="space s" />
	<div class=" wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">
    <h3 class="font-2 text-m" style="font-size:20px; color:gray; font-family:verdana"> Near Jnana Bharathi Campus, Off BDA Outer Ring Road, Mallathahalli, Bengaluru, Karnataka 560 056</h3>
    <h4 class="font-2 text-m text-medium" style="font-size:15px; color:#00ced1; font-family:verdana">080-23211232, 23215070  |  principal@dr-ait.org  | www.drait.edu.in  </h4>
</div> 
</div>
<hr>
<div ng-app="CalculatorApp" ng-controller="CalculatorController" style="display: block; width: 100%;">
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between wow slideInLeft" data-wow-duration="2s" data-wow-delay="0.9s"> 

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<right>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav">
<button class="btn btn-small " style="background-color:aqua"><a class="nav-item nav-link" href="index.html"><b>Home </b><span class="sr-only">(current)</span></a></button>
<button class="btn btn-small" style="background-color:#02fb02"><a class="nav-item nav-link " href="http://results.drait.in/"><b>Results</b></a></button>
<li class="nav-item dropdown">
<button class="btn btn-small" style="background-color:yellow"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>
SGPA Calculator</b>
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
<a class="dropdown-item" href="sem1.html">I Semester</a>
<a class="dropdown-item " href="sem2.html">II Semester</a>
<a class="dropdown-item " href="sem3.html">III Semester</a>
<a class="dropdown-item " href="sem4.html">IV Semester</a>
<a class="dropdown-item active" href="sem5.html">V Semester</a>
<a class="dropdown-item" href="coming.html">VI Semester</a>
<a class="dropdown-item" href="coming.html">VII Semester</a>
<a class="dropdown-item" href="coming.html">VIII Semester</a>
</div>
</li>
</div>
</div>
</right>
</nav>

<div class="wow slideInRight" data-wow-duration="2s" data-wow-delay="1s"> 
<div class="branchSelect">
<h2>V Semester</h1>
</br>
<label>SELECT YOUR BRANCH: </label><select name="users" ng-options="user.name for user in arrlist" ng-change="getdetails()" ng-model="userselected">
<option value="">--Select Branch--</option>
</select>
</div>

<div class="body">
<form>

<div ng-show='cs'>
<br>

<div>
<label><b>Enter The Grade : S A B C D E F</b></label>
<br>
<br>
<label>18CS51  -  SOFTWARE ENGINEERING: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub1"> </br>
<label>18CS52  -  JAVA PROGRAMMING:</label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub2"> </br>
<label>18CS53  -  DATABASE MANAGEMENT SYSTEMS:  </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub3"> </br>
<label>18CS54  -  COMPUTER NETWORKS AND INTERNET PROTOCOL: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub4"> </br>
<label>18CS5xx -  WEB TECHNOLOGIES / ARTIFICIAL INTELLIGENCE: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub5"> </br>
<label>xxxxxx  -  INTER-DEPARTMENT ELECTIVE: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub6"> </br>
<label>18HS52  -  INTELLECTUAL PROPERTY RIGHTS: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub7"> </br>
<label><b>LABS</b></label>

<div class="labs"> <label>18CSL56 - DATABASE APPLICATIONS LAB: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="lab1"> </br>
<label>18CSL57 - NETWORK PROGRAMMING LAB USING JAVA AND NS: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="lab2"></br>
</div>
<input type="reset" value="Clear">
<label class="sgpa">SGPA: {{ resultcs() }}</label>

<label>I   Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg1" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>II  Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg2" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>III Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg3" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>IV  Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg4" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>V   Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg5" placeholder="SGPA"><button class="inputsidebar">/10</button></br>

<label class="sgpa">CGPA: {{ cgpa5semcs() }}</label>

<div>
<label style="margin-top:30px;font-size:20px;"><b>For Lateral entry students...</b></label>
<br>
<br>

<label>III Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cgdip3" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>IV  Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cgdip4" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>V   Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cgdip5" placeholder="SGPA"><button class="inputsidebar">/10</button></br>

<label class="sgpa">CGPA: {{ cgpa5semdip() }}</label>


</button></br></div>


</div>
</div>



<div ng-show='ec'>
<br>
<br>
<div>
<label>ELECTROMAGNETIC WAVES: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub1"> </br>
<label>DIGITAL SIGNAL PROCESSING:</label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub2"> </br>
<label>DIGITAL COMMUNICATIONS:  </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub3"> </br>
<label>MICROPROCESSOR AND MICROCONTROLLER: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub4"> </br>
<label>PROFESSIONAL ELECTIVE-I: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub5"> </br>
<label>OPEN-ELECTIVE A: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub6"> </br>
<label>INTELLECTUAL PROPERTY RIGHTS: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub7"> </br>
<label><b>LABS</b></label>
<div class="labs"> <label>MICROCONTROLLER LAB: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="lab1"> </br>
<label>DIGITAL SIGNAL PROCESSING LAB: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="lab2"></br>
</div>

<input type="reset" value="Clear">

<label class="sgpa">SGPA: {{ resultec() }}</label>

<label>I   Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg1" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>II  Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg2" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>III Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg3" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>IV  Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg4" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>V   Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg5" placeholder="SGPA"><button class="inputsidebar">/10</button></br>

<label class="sgpa">CGPA: {{ cgpa5semec() }}</label>

<div>
<label style="margin-top:30px;font-size:20px;"><b>For Lateral entry students...</b></label>
<br>
<br>

<label>III Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cgdip3" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>IV  Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cgdip4" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>V   Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cgdip5" placeholder="SGPA"><button class="inputsidebar">/10</button></br>

<label class="sgpa">CGPA: {{ cgpa5semdip() }}</label>


</button></br></div>


</div>
</div>


<div ng-show='civil'>
<br>
<br>
<br>
<label style="text-align:center"><b>Coming Soon.......</b> </label>
</div>

<div ng-show='mech'>
<br>
<br>
<br>
<label style="text-align:center"><b>Coming Soon.......</b> </label>
</div>


</div>

 
<div class="sidebar">
</div>
</div>
</div>
<div class="container-fluid">
<center><footer class="footer wow flash" data-wow-duration="2s" data-wow-delay=".5s">Copyright © 2020 UNDEFINED UNIVERSE<a href="#"> </a></footer></center>
</div>

<script src="jquery/jquery.min.js" type="text/javascript"></script>
<script src="bootstrap/bootstrap.min.js" type="text/javascript"></script>
<script src="js/wow.min.js"></script>
<script>
new WOW().init(); 
</script>
<script src="ajax/rocket-loader.min.js"></script>

<script type="text/javascript" language="javascript">
$(document).ready(function() {
	$('html').bind('cut copy paste',function(e) {
		e.preventDefault();
	})
	$('body').on("contextmenu",function(e) {
		return false;
		})
	}); 
</script>
<script>
/* To Disable Inspect Element */
$(document).bind("contextmenu",function(e) {
 e.preventDefault();
});

$(document).keydown(function(e){
    if(e.which === 123){
       return false;
    }
});
</script>
<script>
document.onkeydown = function(e) {
if(event.keyCode == 123) {
return false;
}
if(e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'P'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'H'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'A'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'F'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)){
return false;
}
}
</script>
</body>
</html>