<!doctype html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="dr-ait,dr ait,dr-ait results, results dr-ait,DR-AIT results sgpa cgpa">
<meta name="description" content="Calculate your sgpa and cgpa">

<script src="ajax/angular.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="css/body.css">
<script src="js/cgg.js" type="text/javascript"></script>
<link href="css/animate.min.css" rel="stylesheet">

<title>DR-AIT CGPA Calculator</title>

</head>


<body style="width:100%;">

	<div class="content overlay-content text-center">
	<br>
		<div class="row">
			<div class="col-lg-12 wow fadeIn" >
				<img class="row-3 img-fluid wow fadeIn" data-wow-duration="3s" data-wow-delay=".3s"style="max-width:100%; height:auto;" src="images/logo-wide.png"/>
    <hr class="space s" />
		<div class=" wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">
			<h3 class="font-2 text-m" style="font-size:20px; color:gray; font-family:verdana"> Near Jnana Bharathi Campus, Off BDA Outer Ring Road, Mallathahalli, Bengaluru, Karnataka 560 056</h3>
				<h4 class="font-2 text-m text-medium" style="font-size:15px; color:#00ced1; font-family:verdana">080-23211232, 23215070  |  principal@dr-ait.org  | www.drait.edu.in  </h4>
		</div> 
			</div>
		</div>
	</div>
<hr>


<div ng-app="CalculatorApp" ng-controller="CalculatorController" style="display: block; width: 100%;">

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between wow slideInLeft" data-wow-duration="2s" data-wow-delay="0.9s"> 

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<right>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav">
<button class="btn btn-small " style="background-color:aqua"><a class="nav-item nav-link" href="index.html"><b>Home </b><span class="sr-only">(current)</span></a></button>
<button class="btn btn-small" style="background-color:#02fb02"><a class="nav-item nav-link " href="http://results.drait.in/"><b>Results</b></a></button>
<li class="nav-item dropdown">
<button class="btn btn-small" style="background-color:yellow"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>
SGPA Calculator</b>
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
<a class="dropdown-item" href="sem1.html">I Semester</a>
<a class="dropdown-item " href="sem2.html">II Semester</a>
<a class="dropdown-item active" href="sem3.html">III Semester</a>
<a class="dropdown-item" href="sem4.html">IV Semester</a>
<a class="dropdown-item" href="sem5.html">V Semester</a>
<a class="dropdown-item" href="coming.html">VI Semester</a>
<a class="dropdown-item" href="coming.html">VII Semester</a>
<a class="dropdown-item" href="coming.html">VIII Semester</a>
</div>
</li>
</div>
</div>
</right>
</nav>

<div class="wow slideInRight" data-wow-duration="2s" data-wow-delay="1s"> 
<div class="branchSelect">
<h2>III Semester</h1>
</br>
<label>SELECT YOUR BRANCH: </label><select name="users" ng-options="user.name for user in arrlist" ng-change="getdetails()" ng-model="userselected">
<option value="">--Select Branch--</option>
</select>
</div>

<div class="body">
<form>


<div ng-show='cs'>
<br>
<br>

<form>
<label>DISCRETE MATHEMATICAL STRUCTURES: </label><input type="text" maxlength="1"  placeholder="Grade Letter" ng-model="sub1"></br>
<label>DIGITAL LOGIC AND COMPUTER DESIGN:</label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub2"></br>
<label>DATA STRUCTURES AND ALGORITHMS:  </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub3"></br>
<label>OPERATING SYSTEM: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub4"></br>
<label>PYTHON PROGRAMMING: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub5"></br>
<label>ENVIRONMENTAL SCIENCE: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub6"></br>
<label><b>LABS</b></label>
<div class="labs"> <label>DATA STRUCTURES AND ALGORITHMS LAB: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="lab1"></br>
<label>DIGITAL LOGIC AND COMPUTER DESIGN LAB: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="lab2"></br></div>
<label>PYTHON PROGRAMMING LAB: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="lab3"></br>

<input type="reset" value="Clear">

<label class="sgpa">SGPA: {{ resultcs() }}</label>

<label>I   Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg1" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>II  Semester  SGPA: </label><input type="number" min="0" max="10" ng-model="cg2" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>III Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg3" placeholder="SGPA"><button class="inputsidebar">/10</button></br>

<label class="sgpa">CGPA: {{ cgpa3semcs() }}</label>
</form>
</div>

<div ng-show='ec'>
<br>

<h5>Enter the Grade letters : [S A B C D E F]</h5>
<br>
<form>
<label>TRANSFORMS AND APPLICATIONS: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub1"></br>
<label>ELECTRONIC DEVICES:</label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub2"></br>
<label>DIGITAL SYSTEM DESIGN:  </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub3"></br>
<label>NETWORK THEORY: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub4"></br>
<label>ENGINEERING STATISTICS: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub5"></br>
<label>POWER ELECTRONICS AND INSTRUMENTATION: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub6"></br>
<label>CONSTITUTION OF INDIA / ENVIRONMENTAL SCIENCE: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub7"></br>

<label><b>LABS</b></label>

<div class="labs"> <label>ELECTRONICS INSTRUMENTATION AND INSTRUMENTATION LAB: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="lab1"></br>
<label>DIGITAL SYSTEMS LAB: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="lab2"></br></div>

<input type="reset" value="Clear">

<label class="sgpa">SGPA: {{ resultecs() }}</label>

<label>I   Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg1" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>II  Semester  SGPA: </label><input type="number" min="0" max="10" ng-model="cg2" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>III Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg3" placeholder="SGPA"><button class="inputsidebar">/10</button></br>

<label class="sgpa">CGPA: {{ cgpa3semec() }}</label>
</form>
</div>


<div ng-show='civil'>
<br>
<br>
<br>
<label style="text-align:center"><b>Coming Soon.......</b> </label>
</div>

<div ng-show='mech'>
<br>

<h5>Enter the Grade letters : [S A B C D E F]</h5>
<br>
<form>
<label>TRANSFORMS AND BOUNDARY VALUE PROBLEMS: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub1"></br>
<label>MATERIAL SCIENCE AND METALLURGY:</label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub2"></br>
<label>MECHANICS OF MATERIALS:  </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub3"></br>
<label>BASIC MANUFACTURING PROCESS: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub4"></br>
<label>BASIC THERMODYNAMICS: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub5"></br>
<label>COMPUTER AIDED MACHINE DRAWING: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub6"></br>
<label>CONSTITUTION OF INDIA / ENVIRONMENTAL SCIENCE: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="sub7"></br>

<label><b>LABS</b></label>

<div class="labs"> <label>BASIC MANUFACTURING PROCESS LAB: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="lab1"></br>
<label>MATERIAL TESTING LAB: </label><input type="text" maxlength="1" placeholder="Grade" ng-model="lab2"></br></div>

<input type="reset" value="Clear">

<label class="sgpa">SGPA: {{ resultmech() }}</label>

<label>I   Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg1" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>II  Semester  SGPA: </label><input type="number" min="0" max="10" ng-model="cg2" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
<label>III Semester SGPA: </label><input type="number" min="0" max="10" ng-model="cg3" placeholder="SGPA"><button class="inputsidebar">/10</button></br>
</br>
<label class="sgpa">CGPA: {{ cgpa3semmech() }}</label>
</form>
</div>


</div> 
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container-fluid">

<center>
<footer class="footer wow flash" data-wow-duration="2s" data-wow-delay=".5s">Copyright © 2020 UNDEFINED UNIVERSE<a href="#"> </a></footer>
</center>

</div>

<script src="jquery/jquery.min.js" type="text/javascript"></script>
<script src="bootstrap/bootstrap.min.js" type="text/javascript"></script>
<script src="js/wow.min.js"></script>
<script>
new WOW().init(); 
</script>
<script src="ajax/rocket-loader.min.js"></script>

<script type="text/javascript" language="javascript">
$(document).ready(function() {
	$('html').bind('cut copy paste',function(e) {
		e.preventDefault();
	})
	$('body').on("contextmenu",function(e) {
		return false;
		})
	}); 
</script>
<script>
/* To Disable Inspect Element */
$(document).bind("contextmenu",function(e) {
 e.preventDefault();
});

$(document).keydown(function(e){
    if(e.which === 123){
       return false;
    }
});
</script>
<script>
document.onkeydown = function(e) {
if(event.keyCode == 123) {
return false;
}
if(e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'P'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'H'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'A'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'F'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)){
return false;
}
}
</script>
</body>
</html>